.App {
  text-align: left;
  padding: 20px;
  background: #e5e6e2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 12px 36px 16px;
  background: #cdd2ce;
  margin: 0;
  list-style: none;
  position: relative;
  margin: 0 1px;
}

ul:before {
  content:"";
  position:absolute;
  bottom:0;
  right:0;
  border-width:0px 0px 24px 24px;
  border-style:solid;
  border-color:transparent #e5e6e2 #e5e6e2 transparent;
}

li {
  list-style-type: none;
  position: relative;    /* It's needed for setting position to absolute in the next rule. */
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  line-height: 18px;
  padding: 2px 0;
  font-size: 18px;
}

li:before {
  content: '■';
  color: #9f191e;
  position: absolute;
  line-height: 14px;
  left: -0.8em;          /* Adjust this value so that it appears where you want. */
  font-size: 34px;      /* Adjust this value so that it appears what size you want. */
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  /* position: -webkit-sticky;
  position: sticky;
  top: 0; */
  box-sizing: border-box;
  margin: 0.3em 0 0 0;
  padding: 0 0 8px 0;
  /* height: 60px; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 96px;
  font-weight: 700;
}

h2 {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;
}

h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

h4 {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 400;
}

h5 {
  font-size: 26px;
  font-weight: 400;
}

h6 {
  
}

.advanced_title {
  margin-top: 16px;
  padding: 6px 90px 6px 8px;
  background: #395259;
  color: white;
  font-weight: 700;
  display: inline-block;
  position: relative;
}

.advanced_title:before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  border-width:16px 0px 0px 16px;
  border-style:solid;
  border-color: #e5e6e2 #e5e6e2 transparent transparent;
}

.advanced_rules {
  border: 2px solid #395259;
  padding: 4px 12px 12px 12px;
  background: #eae9e6;
}

.advanced_rules ul:before {
  border-color:transparent #eae9e6 #eae9e6 transparent;
}